.projects {
    text-align: center;
    background-color: #1F2933;
  }
  
  .projects-header {
    padding: 10% 0vw 5% 0vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    opacity: 0;
    transition: opacity 3s cubic-bezier(.28,.08,.53,.9);
    transition-delay: 20ms;
  }

  .projects-header.visible {
    opacity: 1;
  }

  .projects-list {
    display: flex;
    gap: 5vh;
    padding: 0% 18vw;
    flex-direction: column;
    align-items: center;
  }

  